.HeaderContainer {
  flex-shrink: 0;
}

.HeaderTextContainer {
  flex-grow: 1;

  &.hasOnClick {
    &:hover > * {
      color: var(--mb-color-brand);
      cursor: pointer;
    }
  }
}

.HeaderText {
  flex-grow: 1;
  align-items: center;
  color: var(--mb-color-text-dark);

  &.textCentered {
    justify-content: center;
  }
}

.ModalContentActionIcon {
  color: var(--mb-color-text-light);
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    color: var(--mb-color-text-medium);
  }
}

.ModalHeaderBackIcon {
  flex-shrink: 0;
  margin: -0.5rem 0 -0.5rem -0.5rem;

  &:hover {
    color: var(--mb-color-brand);
  }
}
